[Desktop Entry]
Version=1.0
Type=Application
Name={{ jetbrains_common_naming_map[jetbrains_common_edition].name }}
Icon=/opt/{{ jetbrains_common_name }}/bin/{{ jetbrains_common_name }}.svg
Exec="/opt/{{ jetbrains_common_name }}/bin/{{ jetbrains_common_name }}.sh" %f
Comment={{ jetbrains_common_naming_map[jetbrains_common_edition].comment }}
Categories=Development;IDE;
Terminal=false
StartupNotify=true
